* {
  margin: 0;
}

:root {
  --price-width: 50px;
  --player-score-wdith: 120px;

  --theme-green-main: rgb(96, 170, 96);
  --theme-green-dark: rgb(75, 133, 75);
  --theme-green-light: rgba(96, 170, 96, 0.5);
  --theme-green-lighter: rgba(96, 170, 96, 0.25);

  --highlight-active-color: rgb(216, 216, 216);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.menu-container {
  background-color: var(--theme-green-main);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60px;
  padding: 10px 5px;
}

.menu-item {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  background-color: var(--theme-green-dark);
  color: white;
  border: none;
}

.main-container {
  background-color: rgb(250, 250, 250);
  width: 100%;
  /* padding: 10px; */
}

.scrollable {
  width: 100%;
  max-width: 500px;
  overflow-y: scroll;
  height: 400px;
  /* scrollbar-color: var(--theme-green-main); */
  scrollbar-color: var(--theme-green-main) var(--theme-green-light);
  scrollbar-width: thin;
}

.scrollable::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
.scrollable::-webkit-scrollbar-track {
  background: var(--theme-green-light);        /* color of the tracking area */
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--theme-green-main);   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--theme-green-light);  /* creates padding around scroll thumb */
}

.scores-block {
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
  text-align: center;
  border-right: 1px solid var(--theme-green-light);
  border-bottom: 1px solid var(--theme-green-light);
  /* background-color: rgb(56, 56, 56);
  color: white; */
}

.question.active{
  background-color: var(--highlight-active-color);
  /* border: 0px solid white; */
  
}

.subject {
  background-color: var(--theme-green-light);
  color: white;
  font-size: larger;
  font-weight: bold;
  padding: 5px;

}

.price {
  font-weight: bold;
  width: 40px;
  background-color: var(--theme-green-light);
  border-bottom: 1px solid var(--theme-green-lighter);
}

.active .price {
  /* background-color: var(--highlight-active-color); */
}

.player-score {
  border-bottom: 1px solid var(--theme-green-lighter);
  width: 120px;
}

.divider {
  border-top: solid 10px var(--theme-green-light);
  background-color: var(--theme-green-light);
}

.sigma {
  font-weight: bold;
  font-size: x-large;
  width: 40px;
  background-color: var(--theme-green-light);
}

.player-sum {
  font-weight: bold;
  background-color: var(--theme-green-light);
  width: 120px;
}

.controls-block {
  width: 100%;
  height: 70px;
  background-color: var(--theme-green-lighter);
  text-align: center;
}

.controls-block td {
  width: 1px;
}

.player-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  text-align: center;
  font-size: medium;
  color: #555;
  border: none;
  width: 95%;
}

.player-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  font-size: x-large;
  border: none;
  margin: 5px;
}

.player-button.plus {
  color: var(--theme-green-main);
  /* background-color: var(--theme-green-lighter); */
}

.player-button.minus {
  color: var(--theme-green-main);
}

.navigation-block {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.nav-prev, .nav-next, .nav-current {
  width: 70px;
  height: 40px;
  border: none;
  background-color: var(--theme-green-main);
  font-size: x-large;
  font-weight: bold;
  color: rgb(241, 241, 241);
}

.package {
  width: 100%;
  resize: none;
  margin: 0;
  padding: 0;
  border: 0;
}