* {
  margin: 0;
}

html {
  font-size: 16px;
}

:root {
  --game-width: 32rem;
  --player-score-width: 7.5rem;
  --subjects-height: 40vh;
  --control-block-height: 27vh;

  --theme-green-main: rgb(96, 170, 96);
  --theme-green-dark: rgb(75, 133, 75);
  --theme-green-light: rgba(96, 170, 96, 0.5);
  --theme-green-lighter: rgba(96, 170, 96, 0.25);

  --highlight-active-color: rgb(216, 216, 216);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.menu-container {
  background-color: var(--theme-green-main);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 5rem;
  padding: 1rem 0.4rem;
}

.hide-menu-btn {
  text-align: center;
  align-self: center;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  font-size: x-large;
  color: white;
  margin-bottom: 0.7rem;
  outline: none;
  cursor: pointer;
}

.menu-item {
  display: flex;
  /* width: 100%; */
  height: 2.6rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem 0.2rem;
  background-color: var(--theme-green-dark);
  color: white;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.menu-active {
  background-color: green;
}

.main-container {
  /* background-color: rgb(158, 96, 96); */
  background-color: rgb(250, 250, 250);
  width: var(--game-width);
  height: 100vh;
  /* padding: 10px; */
}

.menu-switcher {
  position: absolute;
  /* margin-top: 2px; */
  width: 1.9rem;
  height: 1.6rem;
  text-align: center;
  font-size: larger;
  color: white;
  background: var(--theme-green-main);
  box-shadow: 0 0 6px rgba(0,0,0,0.7);
  cursor: pointer;
}

.menu-switcher:hover {
  background: var(--theme-green-dark);
}

.menu-switcher i {
  vertical-align: middle;
  text-align: center;
}

.scrollable {
  width: 100%;
  max-width: var(--game-width);
  overflow-y: scroll;
  height: var(--subjects-height);
  /* scrollbar-color: var(--theme-green-main); */
  scrollbar-color: var(--theme-green-main) var(--theme-green-light);
  scrollbar-width: thin;
}

.scrollable::-webkit-scrollbar {
  width: 0.5rem;               /* width of the entire scrollbar */
}
.scrollable::-webkit-scrollbar-track {
  background: var(--theme-green-light);        /* color of the tracking area */
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--theme-green-main);   /* color of the scroll thumb */
  border-radius: 1.2rem;       /* roundness of the scroll thumb */
  border: 0.2rem solid var(--theme-green-light);  /* creates padding around scroll thumb */
}

.scores-block {
  width: 100%;
  max-width: var(--game-width);
  height: var(--control-block-height);
  border-collapse: collapse;
  text-align: center;
  border-right: 1px solid var(--theme-green-light);
  border-bottom: 1px solid var(--theme-green-light);
  /* background-color: rgb(56, 56, 56);
  color: white; */
}

.question:hover {
  background-color: var(--theme-green-lighter);
  cursor: pointer;
}

.question.active{
  background-color: var(--theme-green-lighter);
  border: 2px solid var(--theme-green-main);
  
}

.subject {
  background-color: var(--theme-green-light);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.3rem;
  cursor: default;
}

.price {
  font-weight: bold;
  width: 2rem;
  padding: 0.1rem 0;
  background-color: var(--theme-green-light);
  border-bottom: 1px solid var(--theme-green-lighter);
}

.player-score {
  border-bottom: 1px solid var(--theme-green-lighter);
  width: var(--player-score-width);
}

.divider {
  border-top: solid 0.6rem var(--theme-green-light);
  background-color: var(--theme-green-light);
}

.sigma {
  font-weight: bold;
  font-size: 1.5rem;
  width: 2rem;
  background-color: var(--theme-green-light);
}

.player-sum {
  font-weight: bold;
  background-color: var(--theme-green-light);
  width: var(--player-score-width);
  padding: 0.2rem 0;
}

.controls-block {
  width: 100%;
  height: 6.4rem;
  background-color: var(--theme-green-lighter);
  text-align: center;
}

.controls-block td {
  width: 1px;
}

.player-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  text-align: center;
  font-size: 1rem;
  color: #555;
  border: none;
  width: 95%;
}

.player-button {
  width: 2rem;
  height: 1.9rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  margin: 0.3rem;
}

.player-button {
  color: var(--theme-green-main);
}

.player-button:hover {
  color: var(--theme-green-dark);
}

.player-button:active {
  color: var(--theme-green-main);
}

.navigation-block {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.nav-btn {
  width: 4.2rem;
  height: 2.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--theme-green-main);
  font-size: x-large;
  font-weight: bold;
  color: rgb(241, 241, 241);
}

.nav-btn:hover {
  background-color: var(--theme-green-dark);
}

.nav-btn:active {
  background-color: var(--theme-green-main);
}

.package {
  width: var(--game-width);
  height: calc(100vh - var(--control-block-height) - var(--subjects-height) - 1vh);
  min-height: 7rem;
  resize: none;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-size: 1.2rem;
  border-right: 1px solid var(--theme-green-light);
  border-bottom: 1px solid var(--theme-green-light);
}

.secondary-container {
  display: flex;
  width: var(--game-width);
  /* background-color: greenyellow; */
  /* align-items: center; */
  padding: 2rem 0.5rem;
  justify-content: center;
  border-right: 1px solid var(--theme-green-light);
  border-bottom: 1px solid var(--theme-green-light);
}

.new-game form {
  display: flex;
  flex-direction: column;
}

.new-game h2 {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.new-game form div {
  padding: 0.1rem 0.3rem;
  font-size: 1.2rem;
}

.new-game form button {
  margin: 1rem auto;
}

.subjects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subjects-list h2 {
  margin-bottom: 1rem;
}

.subjects-list textarea {
  display: block;
  resize: none;
  width: 90%;
  height: 50vh;
  min-height: 10rem;
  font-size: 1.2rem;
}


@media (max-width: 800px) and (orientation: portrait) {
  html {
    font-size: 12px;
  }
}